.page {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: $color-primary-text;
  //background-color: $white;

  &__title,
  &__subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 20px;

    &-hidden {
      display: none;
    }
  }

  &__subtitle {
    margin: 20px 0;
  }

  &__text {
    margin: 5px 0;
    font-size: 12px;
    line-height: 14px;
  }
}

@media #{$tablet-width} {
  .page {
    &__title {
      font-size: 27px;
      line-height: 30px;
    }

    &__subtitle {
      margin-top: 29px;
    }

    &__text {
      margin: 7px 0;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

main {
  position: relative;
  top: 65px;
  height: initial;

  @media #{$tablet-width} {
    top: initial;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 160px);
  }
}
