.filter {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 1;
  background-color: $white;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 700;

    &-closed {
      .filter__item-active {
         display: block;
      }

      .filter__item:not(.filter__item-active) {
        display: none;
      }
    }

    &-opened {
      .filter__item {
        display: block;
      }
    }
  }

  &__item {
    //display: none;
    position: relative;
    margin: 0;
    padding: 8px 16px;
    min-width: 70px;
    box-sizing: border-box;
    list-style: none;
    border-radius: 20px;

    &-active::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 6px;
      height: 6px;
      border-left: 1px solid $color-primary-text;
      border-bottom: 1px solid $color-primary-text;
      transform: rotate(-45deg);
    }

    &-active {
      background-color: $color-active;
    }

    &-closed {
      display: none;
    }

    &-active,
    &-opened {
      display: block;
    }
  }

  &__link {
    color: $color-primary-text;
    text-decoration: none;
  }
}

@media #{$tablet-width} {
  .filter {
    position: initial;
    &__list {
      flex-direction: row;
      font-size: 13px;
    }

    &__item {
      display: block;
      margin: 0 5px;
      padding: 7px 13px 7px 15px;
      min-width: 50px;
      background-color: $light-background;
      text-align: center;
      cursor: pointer;

      &-active,
      &:hover {
        background-color: $color-active;
        transition: background-color .3s ease-out;

        &::after {
          display: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &-mleft {
      margin-left: 13px;
    }
  }
}
