.slider {
  -webkit-appearance: none;
  position: absolute;
  top: 138px;
  left: -7%;
  width: 336px;
  height: 60px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  transform: rotate(90deg);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 68px;
    height: 68px;
    background: transparent;
    cursor: pointer;
    border: 4px solid $white;
    box-shadow: inset 0 0 0 3px rgba(51,51,51,0.10);

    border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 68px;
    height: 68px;
    background: transparent;
    cursor: pointer;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0 0 0 3px rgba(51,51,51,0.10);
    border-radius: 50%;
  }

  &__wrapper {
    position: relative;
    margin-top: 25px;
    min-height: 350px;

    &::before,
    &::after {
      position: absolute;
      left: 86px;
      margin-top: -10px;
      color: $white;
      font-size: 18px;
      font-weight: 700;
      z-index: 1;
    }

    &::before {
      content: '-10';
      top: 30px;
    }

    &::after {
      content: '+30';
      bottom: 30px;
    }
  }

  &-light {
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
  }
}

@media #{$tablet-width} {
  .slider {
    position: initial;
    width: 100%;
    height: 60px;
    transform: rotate(0deg);

    &__wrapper {
      min-height: initial;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        z-index: 1;
      }

      &::before {
        content: '-10';
        left: 20px;
      }

      &::after {
        content: '+30';
        left: initial;
        right: 20px;
      }
    }
  }
}
