$white: #ffffff;
$black: #000000;
$color-primary-text: #333333;
$color-secondary-text: #858585;
$light-border: #f0f0f0;
$light-background: #f7f7f7;
$color-active: #ffd93e;

$tablet-width: "(min-width: 768px)";
