.widget-slider {
  width: calc(100% + 40px);
  margin-left: -20px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important
  }

  &__list {
    display: flex;
    width: max-content;
    padding-left: 20px;
  }

  &-horizontal {
    min-height: 120px;
  }
}

@media #{$tablet-width} {
  .widget-slider {
    width: initial;
    margin-left: 0;
    overflow-x: initial;

    &-vertical {
      overflow-y: scroll;

      .widget-task {
        margin-right: 0;
      }
    }

    &-3n {
      .widget-task {
        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(9n),
        &:nth-child(9n - 1),
        &:nth-child(9n - 2) {
          margin-bottom: 0;
        }
      }
    }

    &-horizontal {
      min-height: 135px;

      .widget-task {
        flex-basis: 200px;
      }

      .widget-slider__list {
        width: max-content;
      }
    }

    &__list {
      width: initial;
      flex-wrap: wrap;
      padding-left: 0;
    }
  }
}
