.widget {
  margin-top: 10px;
  padding: 0 20px;
  color: $color-primary-text;
  box-sizing: border-box;

  &__header {
    &-flexed {
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__arrow {
    display: none;
  }

  &-main {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;

    .widget__wrapper {
      padding: 20px;
      padding-bottom: 0;
      min-height: 282px;
      background: url("../img/bg@1x.png") no-repeat 50%;
      background-size: cover;
      border-radius: 20px;
      overflow: hidden;
      box-sizing: border-box;
    }

    .widget-task {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &-full {
    margin-top: 0;

    .page__subtitle {
      margin-top: 20px;
    }
  }
}

@media #{$tablet-width} {
  .widget {
    position: relative;
    margin-top: 0;
    padding: 0 40px;

    &__header {
      &-flexed {
        justify-content: start;
      }
    }

    &__arrow {
      display: block;
      position: absolute;
      bottom: 9px;
      right: 18%;
      margin-left: -6px;
    }

    &__pagination {
      display: none;
      position: absolute;
      top: 25px;
      right: 35px;
      width: 56px;
      height: 30px;
    }

    &__btn {
      display: block;
      width: 50%;
      height: 100%;

      &-prev {
        background: url("../img/icon_arrow.svg") no-repeat 9px 50%;
      }

      &-next {
        background: url("../img/icon_arrow.svg") no-repeat 9px 50%;
        transform: rotate(180deg);
      }
    }

    &-half {
      flex-basis: 50%;

      &:nth-child(2n - 1) {
        padding-left: 40px;
        padding-right: 13px;
      }

      &:nth-child(2n) {
        padding-left: 13px;
        padding-right: 40px;
      }
    }

    &-full {
      flex-basis: 100%;
      margin-top: 15px;
      overflow: hidden;
    }

    &-main {
      .widget__wrapper {
        position: relative;
        display: flex;
        padding: 20px 20px 0 25px;
        height: 331px;
      }

      .widget-task {
        margin-bottom: 15px;
      }

      .widget__header {
        flex-basis: 66%;
      }

      .widget-slider {
        flex-basis: 34%;
      }

      .widget-slider__list {
        flex-direction: column;
        overflow-y: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar {
          width: 0 !important
        }
      }
    }
  }
}
