.widget-task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 120px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background: $light-background;
  border-radius: 20px;
  box-sizing: border-box;

  &__icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__name {
    color: $color-primary-text;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0;
  }

  &__action {
    font-size: 12px;
    line-height: 16px;
    color: $color-secondary-text;
    letter-spacing: 0.01px;
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, .5);
    transition: background-color .3s ease-out;
    cursor: pointer;
  }
}

.widget__task {
  &-min {
    height: 100px;
  }

  &-nonactive {
    .widget-task__icon-active {
      display: none;
    }
    .widget-task__icon-nonactive {
      display: block;
    }
  }

  &-active {
    .widget-task__icon-nonactive {
      display: none;
    }
    .widget-task__icon-active {
      display: block;
    }
  }
}

